<main class="grid grid-flow-col  max-sm:grid-rows-3 mt-1  w-full"  > 

    

<div (click)="academy()"  class="first w-full h-screen flex items-center justify-center cursor-pointer"><h1 class="text-white font-black text-center	w-64 text-7xl max-xl:text-3xl  ">Academy</h1></div>

<div (click)="courses()"  class="second w-full h-screen  flex items-center justify-center cursor-pointer"><h1 class="text-white font-black text-center w-64	text-7xl max-xl:text-3xl ">Courses</h1></div>



<div (click)="studio()"  class="third w-full h-screen  flex items-center justify-center cursor-pointer" ><h1 class= "text-white font-black  text-center	w-64 text-7xl max-xl:text-3xl ">Studio</h1></div>

</main>