<nav class=" text-base grid grid-flow-col lg:grid-rows-1 max-sm:grid-rows-3 
max-md:grid-rows-2  max-md:h-56 h-16 items-center justify-around
sticky  top-0">
<!--relative max-sm:top-32  -->


 <button routerLink="index" routerLinkActive="active">Home</button>

 <button routerLink="academy" routerLinkActive="active">Academy</button> 
 <button routerLink="courses" routerLinkActive="active">Courses</button>
 <button routerLink="studio" routerLinkActive="active">Studio</button>


<button routerLink="campus" routerLinkActive="active">Campus</button>
<button routerLink="shop" routerLinkActive="active">Music Shop</button>


    <button routerLinkActive="active">Sing in </button>
<button  routerLinkActive="active">Sing up </button>




</nav>

