
  
  <header class="flex justify-between max-md:flex-col max-md:justify-items-center  max-md:items-center">

   
  

      
   <div class=" w-2/6 h-3/5 bg-slate-100/70 m-8 mt-44	 flex items-center justify-center">
          <h1 class="text-center text-5xl max-xl:text-3xl  max-md:text-2xl "> HOme</h1></div>
  
          <div class=" w-2/6 h-3/5 bg-slate-100/70  m-8  mt-44	 flex items-center justify-center">
              <h1 class="text-center text-5xl max-xl:text-3xl  max-md:text-2xl "> HOme</h1></div>
          
     


  </header>

<main class="flex justify-center">

  <div class=" w-4/6  h-1/5 bg-slate-100/70 mt-6  	max-sm:h-24 flex items-center justify-center">
    <h1 class="text-center text-5xl max-xl:text-3xl  max-md:text-2xl ">HOme </h1></div>

</main>


<app-navbar2></app-navbar2>  

