<header  class="flex flex-col	items-center" >

<!-- <img src="../../../assets/photos/coursesHeader.jpg" > -->


<div id="title" class="w-96  h-16	max-sm:h-24 flex items-center justify-center">
    <h1 class=" text-sky-100 font-extrabold text-center text-5xl max-xl:text-3xl  max-md:text-2xl">Courses</h1></div>

</header>


<main class="grid grid-cols-4  gap-1 mt-1">
<!-- grid-cols-4  for 4 colums -->
            <div id="baseCourse" class=" col-span-4  w-full h-96  col flex items-center justify-center flex-col">
<!-- this div took all fourth coulms  -->

<h1 class=" text-sky-100 font-extrabold text-center text-5xl max-xl:text-3xl  max-md:text-2xl"><span class="text-pink-600">Base</span>  Course</h1>
<p class="text-fuchsia-50	">Base Course Path of choice Instrument with lessons Weekly for 3,6,9 months
</p>
            </div>

            <div id="proCourse" class="  col-span-2  max-md:col-span-4   w-full min-h-screen flex items-center justify-center flex-col">
                <!-- this div took only two  -->
                <h1 class=" text-sky-100 font-extrabold text-center text-5xl max-xl:text-3xl  max-md:text-2xl"> <span class="text-red-600">Pro</span> Course</h1>
           
            <p class="text-fuchsia-50	">Path of choice Instrument with lessons Weekly for 3,6,9 months</p>
            </div>


            <div id="babyCourse" class="col-span-2   max-md:col-span-4  w-full min-h-screen  flex items-center justify-center flex-col">
                <h1 class=" text-sky-100 font-extrabold text-center text-5xl max-xl:text-3xl  max-md:text-2xl"><span class="text-violet-600">Baby</span> Course</h1>
            <p class="text-fuchsia-50	">
                Musical propaedeutic course for children aged 5 to 11
            </p>
           
            </div>



</main>


<app-navbar2></app-navbar2>  